################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApp1/bin/Debug/netcoreapp2.2
/WebApp1/obj
/WebApi1/bin/Debug/netcoreapp2.2
/WebApi1/obj
/LDNC.Model/bin/Debug/netcoreapp2.2
/.vs
/LDNC.Model/obj
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj
/WebAppMvc1/bin
/WebAppMvc1/obj
